<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
  <div class="container-fluid">
    <img src="https://campaigns.hotstar.com/test-directory/disney-hotstar-logo.png" height="30" alt="" loading="lazy"
      style="margin-top: -1px;"/>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-around">
        <div class="p-2"><a class="nav-link" href="#">TV</a></div>
        <div class="p-2"><a class="nav-link" href="#">Movies</a></div>
        <div class="p-2"><a class="nav-link" href="#">Sports</a></div>
        <div class="p-2"><a class="nav-link" href="#">News</a></div>
        <div class="p-2"><a class="nav-link" href="#">Premium</a></div>
        <div class="p-2"><a class="nav-link" href="#">Disney+</a></div>
        <div class="p-2"><a class="nav-link" href="#">Kids</a></div>
      </div>
    </div>
    <form class="d-flex">
      <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="d-flex justify-content-around">
      <div class="p-2">
        <button type="button" class="btn btn-primary btn-sm">SUBSCRIBE</button>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-primary btn-sm bg-dark">LOGIN</button>
      </div>
    </div>
  </div>
</nav>

<!-- second division -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex bd-highlight bg-dark">
        <div class="p-2 flex-fill bd-highlight">
          <div class="card border-0" style="height: 22rem;width: 25rem; background:transparent">
            <div class="card-body" style="padding:50px; color:white">
              <h3 class="card-title">Loki</h3>
              <h6 class="card-subtitle mb-2 text-muted"><span>Marvel . Superhero</span></h6>
              <p class="card-text">NEW EPISODE EVERY WEDNESDAY AT 12:30 PM. The mercurial villain Loki resumes his
                role as the God of Mischief in a new series that takes place after the events of “Avengers:
                Endgame.”.</p>
            </div>
          </div>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/1685/1011685-h-b13b379fe19b" class="d-block w-100" alt="...">
        </div>
      </div>
      <!-- <img src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/1685/1011685-h-b13b379fe19b" class="d-block w-100" alt="..."> -->
    </div>
    <div class="carousel-item">
      <div class="d-flex bd-highlight bg-dark">
        <div class="p-2 flex-fill bd-highlight">
          <div class="card border-0" style="height: 22rem;width: 25rem; background:transparent">
            <div class="card-body" style="padding:50px; color:white">
              <h3 class="card-title">The Falcon and The Winter Soldier</h3>
              <h6 class="card-subtitle mb-2 text-muted"><span>Marvel . Superhero</span></h6>
              <p class="card-text">NEW EPISODE EVERY WEDNESDAY AT 12:30 PM. The <br> mercurial villain Loki resumes his role as the
                <br> God of Mischief in a new series that takes <br> place after the events of “Avengers: Endgame.”.
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/6362/936362-h" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex bd-highlight bg-dark">
        <div class="p-2 flex-fill bd-highlight">
          <div class="card border-0" style="height: 22rem;width: 25rem; background:transparent">
            <div class="card-body" style="padding:50px; color:white">
              <h3 class="card-title">Wanda Vision</h3>
              <h6 class="card-subtitle mb-2 text-muted"><span>Marvel . Superhero</span></h6>
              <p class="card-text">NEW EPISODE EVERY WEDNESDAY AT 12:30 PM. The <br> mercurial villain Loki resumes his role as the
                <br> God of Mischief in a new series that takes <br> place after the events of “Avengers: Endgame.”.
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/1819/911819-h" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex bd-highlight bg-dark">
        <div class="p-2 flex-fill bd-highlight">
          <div class="card border-0" style="height: 22rem;width: 25rem; background:transparent">
            <div class="card-body" style="padding:50px; color:white">
              <h3 class="card-title">Raya and the Last Dragon</h3>
              <h6 class="card-subtitle mb-2 text-muted"><span>English . Family . 2021</span></h6>
              <p class="card-text">Raya, a fallen princess, must track down the legendary last dragon to stop the evil
                forces that have returned and threaten her world.
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <img src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/1911/1001911-h" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- <div class="card border-0">
  <div class="card-body">
    
  </div>
</div> -->

<!-- Section third -->

<div class="d-flex justify-content-around">
  <div class="p-2 bd-highlight">
    <img id="logo" src="https://i.pinimg.com/originals/a3/25/b6/a325b61b70072c7820fa578c4c415b46.gif" width="250" height="150" alt="">
  </div>
  <div class="p-2 bd-highlight">
    <img id="logo" src="https://thumbs.gfycat.com/BogusHappyDonkey-size_restricted.gif" width="250" height="150" alt="">
  </div>
  <div class="p-2 bd-highlight">
    <img id="logo" src="https://thumbs.gfycat.com/DeliciousCostlyAsianpiedstarling-size_restricted.gif" width="250" height="150" alt="">
  </div>
  <div class="p-2 bd-highlight">
    <img id="logo" src="https://cdn.dribbble.com/users/958158/screenshots/14224153/dribbble.gif" width="250" height="150" alt="">
  </div>
  <div class="p-2 bd-highlight">
    <img id="logo" src="https://assets.materialup.com/uploads/74d2d77d-01d4-400d-8917-34c323497c03/preview.gif" width="250" height="150" alt="">
  </div>
</div>

<!-- Section four -->
<div class="card border-0">
  <div class="card-body">
    <h5 class="card-title">Recommended For You</h5>
    <div class="d-flex justify-content-around">
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/1913/1001913-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/1684/1011684-v-374e17c7e183" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5171/875171-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5219/875219-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/1258/911258-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5162/875162-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/4719/674719-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5206/875206-v" width="150" height="200" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Section five -->
<div class="card border-0">
  <div class="card-body">
    <h5 class="card-title">Inspired by True Stories</h5>
    <div class="d-flex justify-content-around">
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/3145/813145-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5511/855511-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5605/975605-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/6646/666646-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/178/650178-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_1_5x/sources/r1/cms/prod/4470/674470-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/2575/812575-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/old_images/vertical/MOVIE/6538/1770016538/1770016538-v" width="150" height="200" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Section six -->
<div class="card border-0">
  <div class="card-body">
    <h5 class="card-title">Documentaries</h5>
    <div class="d-flex justify-content-around">
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/134/750134-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/8357/968357-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/6162/676162-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/4506/894506-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/3287/743287-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/9761/929761-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5605/1005605-v-9d9bccda9976" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/2626/1012626-v-c81d28c1ba55" width="150" height="200" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Section seven -->
<div class="card border-0">
  <div class="card-body">
    <h5 class="card-title">Family Time</h5>
    <div class="d-flex justify-content-around">
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/1913/1001913-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/6377/966377-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/3640/943640-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/8956/728956-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/1979/911979-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/4569/674569-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/5300/755300-v" width="150" height="200" alt="">
      </div>
      <div class="p-2 bd-highlight">
        <img id="logo" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/sources/r1/cms/prod/4544/674544-v" width="150" height="200" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<hr>
<div class="d-flex justify-content-around" style="padding:10px">
  <div class="p-2 bd-highlight">
    <div class="card border-0">
      <div class="card-body">
        <p>
          © 2021 STAR. All Rights Reserved. HBO, Home Box Office and all <br> related channel and programming logos are service <br>marks of, and all related programming visuals and elements are <br>the property of, Home Box Office, Inc. All rights reserved.
        </p>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <div class="card border-0">
      <div class="card-body">
        <span>Connect with us</span>
        <hr>
        <img src="https://image.flaticon.com/icons/png/128/174/174848.png" height="48" width="48" alt=""> &nbsp;&nbsp;
        <img src="https://image.flaticon.com/icons/png/128/174/174876.png" height="48" width="48" alt=""> &nbsp;&nbsp;
        <img src="https://image.flaticon.com/icons/png/128/174/174855.png" height="48" width="48" alt="">
      </div>
      </div>
    </div>
    <div class="p-2 bd-highlight">
    <div class="card border-0">
      <div class="card-body">
        <span>Disney+ Hotstar App</span>
        <hr>
        <button type="button" class="btn btn-outline-info" style="width:100px">
          <img src="https://image.flaticon.com/icons/png/128/300/300218.png" height="28" width="28" alt="">
        </button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info" style="width:100px">
          <img src="https://image.flaticon.com/icons/png/128/831/831276.png" height="28" width="28" alt="">
        </button>
    </div>
  </div>
</div>
  </div>
  
</body>